body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.fas {
    font-size: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.action-buttons button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 0 5px;
}

.edit-btn {
    color: #ffc107;
}

.delete-btn {
    color: #dc3545;
}

.conf-btn {
    color: rgb(15, 114, 15);
}

