{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro de tarefa</title>

    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    
</head>
<body>
    <form class="custom-form " method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="cadastrar">
    </form>
    <a href="{% url 'homepage' %}"><button>voltar</button></a>
</body>
</html>